@import "tailwindcss";

@theme {
  --color-primary: #144bb8;
  --color-background-light: #f6f6f8;
  --font-display: "Inter", sans-serif;
  --font-inter: "Inter", sans-serif;
}

:root {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}